<!DOCTYPE html>
<html ng-app="myApp" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            Ng Tutorials       
        </title>

        <!-- Bootstrap (tyylitiedosto) -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        <link href="{{base_path}}/assets/css/signin.css" rel="stylesheet">
    </head>

    <body   ng-controller='myCtrl' >
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}">NgTutorials</a>
                </div>
                <form class="navbar-form navbar-right">
                    <div class="form-group" ng-show="user==null">
                        <input type="text" placeholder="Name" ng-model="newUser.name" class="form-control" required autofocus/>
                    </div>
                    <div class="form-group" ng-show="user==null">
                        <input type="password" ng-model="newUser.password" placeholder="Password" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-danger" ng-click="login()" ng-show="user==null">Log in</button>
                    <button type="submit" class="btn btn-danger" ng-click="signup(lg)" ng-show="user==null">Sign Up</button>                   
                    <p  ng-show="user!=null" > Logged in as: {{' {{user.name}} '}}</p>
                    <button type="submit" ng-show="user!=null"  class="btn btn-danger" ng-click="logout()"> Log out</button>
                </form>             
            </div>
    </nav>
    <div class="header" id="angular-logo">
        <img src="/ngtuto/assets/images/angular.jpg" class="img-rounded" alt="AngularJS"
             width="30" height="30">
        <h3 class="text-muted">Find and rate AngularJs tutorials. </h3>
    </div>
    <div id="main-container">
        <!-- Dynaaminen sisältö tulee tähän -->
        {% block content %}{% endblock %}
    </div>

    {% block body %}
    <!-- jQuery -->
    <script src="{{base_path}}/vendor/jquery.min.js"></script>

    <!-- Bootstrap ja Angular (skriptitiedostot) -->
    <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{base_path}}/vendor/angular.min.js" type="text/javascript"></script>
    <script src="{{base_path}}/vendor/ui-bootstrap-min.js" type="text/javascript"></script>
    <script src="{{base_path}}/vendor/moment.js" type="text/javascript"></script>
    <script src="{{base_path}}/vendor/angular-moment.js" type="text/javascript"></script>
    <script src="{{base_path}}/vendor/angular-touch.min.js"></script>
    <script src="{{base_path}}/vendor/angular-sanitize.js"></script>
    <script src="{{base_path}}/vendor/angular-animate.min.js"></script>

    <!-- Omat skriptitiedostomme -->
    <script src="{{base_path}}/assets/js/main.js"></script>
    <script src="{{base_path}}/assets/js/tutorial.js"></script>
    <script src="{{base_path}}/assets/js/signup.js"></script>
    <script src="{{base_path}}/assets/js/message.js"></script>
    {% endblock %}
</body>
</html>
