<!doctype html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">
<head>
<title>NgTutorials</title>
<link href="/ngtuto/assets/css/angular-bootstrap.css" rel="stylesheet">
<link rel="icon" href="/ngtuto/assets/images/angular.jpg" type="image/jpg">
<script src="/ngtuto/assets/js/angular-bootstrap.js" type="text/javascript"></script>

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div id="navbar-header">
				<a class="navbar-brand" href="/ngtuto/app/views/signup.html">Not a member? Sign up!</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-danger">Log in</button>
					<div class="checkbox">
						<label> <input type="checkbox" value="remember-me">
							Remember me
						</label>
					</div>
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="header">
			<img src="/ngtuto/assets/images/angular.jpg" class="img-rounded" alt="AngularJS"
				width="30" height="30">
			<h3 class="text-muted">NgTutorials</h3>
		</div>
		<div ng-controller="MyController">
			<div class="jumbotron">
				<h3 class="text-muted">Find and rate AngularJs tutorials. Make
					a list of your own favorites.</h3>
			</div>
			<div class="table-responsive">
				<h3 class="text-muted">
					Best Rated Tutorials
					</h5>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td><a href="/ngtuto/app/views/tutorial.html">Test</a></td>
								<td>testiii</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td><a href="/ngtuto/app/views/tutorial.html">Test2</a></td>
								<td>testiii....</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td><a href="/ngtuto/app/views/tutorial.html">Test3</a></td>
								<td>testiiii!</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
</body>
</html>
