{% extends "base.html" %}{% block content %}  

<!--user:  {{ '{{user}}' }}-->
<!--{{ '{{newTuto}}' }}-->

<div class ="h3 text-muted">Sign up and you'll be able to add and rate tutorials!</div>
<div class="table-responsive">
    <h4 class="text-muted">Top Rated Tutorials</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Added</th>
                <th>Added by</th> 
                <th ng-show="user != null">#</th> 
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tuto in tutos">                   
                <td><button type="button" class="btn btn-link" ng-click="openTutoPage(tuto)">
                        {{' {{tuto.name}} '}}</button></td>            
                <td uib-rating  ng-model="tuto.stars" read-only="true" aria-labelledby="default-rating" ></td> 
                <td>{{' {{tuto.added}} '}}</td>
                <td>{{' {{tuto.publishername}} '}}</td>  
                <td  ng-show="user != null"><button type="button" class="btn btn-link" ng-click="addToMemo(tuto)">
                        Add to memo</button></td> 
            </tr>                  
        </tbody>
    </table>
</div>
<div><button class="btn btn-lg btn-danger" ng-click="openMemo()">Memo</button></div>
<div>
    <form class="col-xs-6" ng-show="user != null" name="tutoForm" ng-submit="addTuto()" novalidate>
        <h4 class="form-heading text-muted">Add a new  tutorial</h4>
        <div class="form-group ">
            <input type="text" name="name" class="form-control" ng-model="newTuto.name" placeholder="Tutorial name" required autofocus/>
            <p ng-show="tutoForm.name.$invalid && !tutoForm.name.$pristine" class="help-block">Tutorial name is required.</p>
            <input type="text" name="link" class="form-control" ng-model="newTuto.link" placeholder="Link to tutorial" required/>
            <p ng-show="tutoForm.link.$invalid && !tutoForm.link.$pristine" class="help-block">Tutorial link is required.</p>
            <input type="text" name="description" class="form-control" ng-model="newTuto.description" placeholder="Write a short description" required/>
            <p ng-show="tutoForm.description.$invalid && !tutoForm.description.$pristine" class="help-block">Tutorial description is required.</p>
        </div>
        <button class="btn btn-danger" type="submit">Submit</button>
    </form>
</div>
{% endblock %}