<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Memo</h3>
   <!-- {{' {{favorites}} '}}-->
</div>
<div class="modal-body">
    <div class="table-responsive">
        <h4 class="text-muted">Tutorials</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Remove from memo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="favorite in favorites">
                    <td>{{' {{favorite.tutorial_name}} '}}</td> 
                    <td><a href="{{' {{favorite.tutorial_link}} '}}">{{' {{favorite.tutorial_link}} '}}</a></td>
                    <td><button type="button" class="btn btn-link" ng-click="deleteFavorite(favorite)">
                            Remove from memo</button></td>
                </tr>                  
            </tbody>
        </table>
    </div>       
</div>

<div class="modal-footer"><button class="btn btn-lg btn-danger" ng-click="cancel()">Ok</button>
</div>


